<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>공지사항 글쓰기</title>
</head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>

<body>

<div th:each="board: ${Board}">

  <div>
    <label for="title">게시판 번호 </label>
    <span id="Id" th:text="${board.boardId}" class="form-control"></span>
  </div>

  <br/>

  <div>
    <label for="title">작성시간</label>
    <span id="time" th:text="${board.time}" class="form-control" ></span>
  </div>

  <br/>
  <div>
    <label for="title">제목</label>
    <span id="title" th:text="${board.title}" class="form-control"></span>
  </div>

  <br/>

  <div>
    <label for="title">내용</label>
    <span id="content" th:text="${board.content}" class="form-control"></span>
  </div>

  <br/>

  <div th:each="img : ${board.images}">
    <img th:src="${img}" class="form-control">
  </div>

  <button type="button" th:onclick="deleteBoard([[${board.boardId}]],[[${board.category}]])">글 삭제</button>
  <a th:href="@{/admin/boardlist/?category={category}(category=${board.category})}"> 뒤로가기 </a>


  <br/>

  <h3>게시물 댓글  <span id="commentCnt" th:text="${board.commentCnt}"></span> </h3>

  <div th:each="comment : ${Comment}">
    댓글번호 : <span id="commentId" th:text="${comment.commentId}"></span><br/>
    작성자 :<span id="commentAuthor" th:text="${comment.author}"></span><br/>
    댓글 내용 :<span id="commentContent" th:text="${comment.content}"></span><br/>
    작성시간 : <span id="commentTime" th:text="${comment.time}"></span><br/>
    <button type="button" th:onclick="deleteComment([[${comment.commentId}]],[[${board.boardId}]])">댓글 삭제</button>
  </div>

</div>

</body>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/

    function deleteBoard(idx,category) {

      if (confirm(idx + "번 게시글을 삭제할까요?")) {
        var uri = /*[[ @{/admin/board/} ]]*/;
        var html = "";

        html += '<form name="dataForm" action="'+uri+idx+'" method="post">';
        html += '<input type="hidden" name="_method" value="delete">'
        html += '<input type="hidden" id="category" name="category" value="">'
        html += '</form>';

        $("body").append(html);
        $('#category').val(category);
        document.dataForm.submit();
      }
    }

    function deleteComment(idx,boardId) {

      console.log(boardId);
      if (confirm(idx + "번 댓글을 삭제할까요?")) {
        var uri = /*[[ @{/admin/comment/} ]]*/;
        var html = "";

        html += '<form name="dataForm" action="'+uri+idx+'" method="post">';
        html += '<input type="hidden" name="_method" value="delete">'
        html += '<input type="hidden" id="boardId" name="boardId" value="">'
        html += '</form>';

        $("body").append(html);
        $('#boardId').val(boardId);
        document.dataForm.submit();
      }
    }



    /*[- end of function -]*/

    /*]]>*/
  </script>
</th:block>

</html>